<%= render 'tweets/TweetDuzenle' %>
<DIV>
    <% @tweetonay.each do |tweet| %>
        <DIV class="tweet container-fluid" id="dvTweet<%= tweet.id %>">
            <DIV class="row">
                <DIV class="col-md-6"><img src="<%= tweet.user.profile_image_url %>" style="width:15px;height:15px" /> <%= tweet.user.name %></DIV>
                <DIV class="col-md-6 text-right">Oluşturulma Tarihi: <time datetime="<%= tweet.created_at.to_s[0..18] %>"><%= tweet.created_at.to_s[0..18] %></time></DIV>
            </DIV>
            <HR>
            <DIV class="dvTweetGoster">
                <DIV class="dvTweetText"><%= tweet.text %></DIV>
                <HR>
                <DIV class="row ">
                    <DIV class="col-md-6">
                        <%

                        %>
                        <DIV>Tehdit Oranı(%<%= (@tehdit*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= @tehdit.to_s %>"/></DIV>
                        <DIV>Küfür Oranı(%<%= (@kufur*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= @kufur.to_s %>"/></DIV>
                        <DIV>Aldatma Oranı(%<%= (@aldatma*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= @aldatma.to_s %>"/></DIV>
                        <DIV>Şiddet Oranı(%<%= (@siddet*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= @siddet.to_s %>"/></DIV>
                    </DIV>
                    <DIV class="col-md-6 text-right">
                        <%= button_to "Göster", root_url+'tweets/show/'+tweet.id.to_s+'/?donusUrl='+request.url, class: 'btn btn-info' %>
                        <BUTTON class="btn btn-success" onClick="return fncTweetDuzenle('<%= tweet.id %>');">Düzenle</BUTTON>
                        <%= button_to 'Sil', root_url+'tweets/destroy/'+tweet.id.to_s, class: 'btn btn-danger', data: {confirm: 'Emin misiniz?'}, :method => :get %>
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
    <% end %>
</DIV>