<% @PageTitle='Tweetlerim' %>
<%= render 'TweetDuzenle' %>

<DIV class="text-right"><%= button_to 'Yeni Tweet', root_url+'tweets/new', class:'btn btn-info', :method => :get %></DIV>
<DIV class="tweets">
    <% @tweets.each do |tweet| %>
        <DIV class="tweet container-fluid" id="dvTweet<%= tweet.id %>">
            <DIV class="row">
                <DIV class="col-md-6"><img src="<%= current_user.twitter.update_profile.profile_image_url %>" style="width:15px;height:15px" /> <%= current_user.twitter.user.name %></DIV>
                <DIV class="col-md-6 text-right">Oluşturulma Tarihi: <time datetime="<%= tweet.created_at.to_s[0..18] %>"><%= tweet.created_at.to_s[0..18] %></time></DIV>
            </DIV>
            <HR>
            <DIV class="dvTweetGoster">
                <DIV class="dvTweetText"><%= tweet.text %></DIV>
                <HR>
                <DIV class="row ">
                    <DIV class="col-md-6">
                        <% dbTweetEkle(tweet.id, tweet.text.dup)%>
                        <%unless($TweetOnaySurecindeMi)%>
                            <DIV>Tehdit Oranı(%<%= ($tehdit*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= $tehdit.to_s %>"/></DIV>
                            <DIV>Küfür Oranı(%<%= ($kufur*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= $kufur.to_s %>"/></DIV>
                            <DIV>Aldatma Oranı(%<%= ($aldatma*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= $aldatma.to_s %>"/></DIV>
                            <DIV>Şiddet Oranı(%<%= ($siddet*100).to_s[0..5] %>): <PROGRESS max="1.0" value="<%= $siddet.to_s %>"/></DIV>
                        <% else %>
                            <DIV>Tweet Onay Sürecinde!</DIV>
                        <% end %>
                    </DIV>
                    <DIV class="col-md-6 text-right">
                        <%= button_to "Göster", root_url+'tweets/show/'+tweet.id.to_s, class: 'btn btn-info' %>
                        <BUTTON class="btn btn-success" onClick="return fncTweetDuzenle('<%= tweet.id %>');">Düzenle</BUTTON>
                        <%= button_to 'Sil', root_url+'tweets/destroy/'+tweet.id.to_s, class: 'btn btn-danger', data: {confirm: 'Emin misiniz?'}, :method => :get %>
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
    <% end %>
    <DIV class="row">
        <DIV class="col-md-6">
            <% if @page==1 %>
                <%= button_to 'Önceki Sayfa', root_url+'tweets/tweetlerim?page='+(@page-1).to_s, class: 'btn btn-info', :disabled => true %>
            <% else %>
                <%= button_to 'Önceki Sayfa', root_url+'tweets/tweetlerim?page='+(@page-1).to_s, class: 'btn btn-info' %>
            <% end %>
        </DIV>
        <DIV class="col-md-6 text-right">
            <% if @son %>
                <%= button_to 'Sonraki Sayfa', root_url+'tweets/tweetlerim?page='+(@page+1).to_s, class: 'btn btn-success', :disabled => true %>
            <% else %>
                <%= button_to 'Sonraki Sayfa', root_url+'tweets/tweetlerim?page='+(@page+1).to_s, class: 'btn btn-success' %>
            <% end %>
        </DIV>
    </DIV>
</DIV>